.gfhgfhfh {
    width: 50px;
    border-radius:80% ;
    -webkit-border-radius:80% ;
    -moz-border-radius:80% ;
    -ms-border-radius:80% ;
    -o-border-radius:80% ;
    border:none;
    bottom: 100px;
    right:  50px;
    transition: 2s ease;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition: 2s ease;
    position:fixed;
}
.gfhgfhfh:hover img {
    width: 60px;
}